* {
	margin: 0;
	padding: 0;
}
.container {
    width: 564px;
    margin: 47px auto;
    background: white;
}
body {
    background-color: black;
}
.header {
    padding: 20px;
}
.form {
    padding: 15px;
}
.page {
    margin-bottom: 9px;
    font-size: 30px;
    font-weight: bold;
}
.awal {
    font-size: 20px;
}
.form {
    padding: 20px;
    margin-top: -27px;
}
input#pasword {
    width: 364px;
    padding: 8px;
}
input#re-enter {
    width: 364px;
    padding: 8px;
}
input#email {
    width: 364px;
    padding: 8px;
}
input#last {
    width: 157px;
    padding: 8px;
}
input#nama {
    padding: 8px;
    width: 178px;
    margin-right: 5px;
}
.birth {
    font-size: 19px;
    margin-bottom: -8px;
}
div#drop {
    display: inline-flex;
    padding: 0px;
}
select {
    padding: 4px;
}
.radio {
    margin-top: 16px;
}
p.ayat {
    margin-top: -16px;
    margin-bottom: -2px;
    font-size: 11px;
}
p.tepi {
    display: inline;
    margin-top: 0px;
    padding: 6px;
    font-size: 11px;
}
p {
    font-size: 11px;
    margin-top: 4px;
}
input#sign {
    margin-top: 10px;
    padding: 5px;
    width: 151px;
    text-align: center;
    font-size: 19px;
    background: rgba(76, 175, 80, 0.3);
    border-radius: 8px;
}
