* {
	margin: 0;
	padding: 0;
}
.container {
    width:465px;
    margin: 47px auto;
       background: #e6e8ec;
}
body {
    background-color: black;
}
.form {
    padding: 20px;
    margin-top: -27px;
}
input#pasword {
    width: 364px;
    padding: 8px;
    border-radius: 4px 4px 5px 5px;
}
input#re-enter {
    width: 364px;
    padding: 8px;
    border-radius: 4px 4px 5px 5px;
}
input#email {
    width: 364px;
    padding: 8px;
    border-radius: 4px 4px 5px 5px;
}
input#last {
    width: 157px;
    padding: 8px;
    border-radius: 4px 4px 5px 5px;
}
input#nama {
    padding: 8px;
    width: 178px;
    margin-right: 5px;
    border-radius: 4px 4px 5px 5px;
}
select {
    padding: 5px;
    display: inline-block;
    margin-left: 0px;
    float: left;
}
.radio {
    margin-top: 20px;
}
p {
    font-size: 10px;
}
p.ayat {
    margin-top: -7px;
    margin-bottom: 2px;
    font-size: 10px;
}
p.tepi {
    display: inline-block;
    margin-top: -7px;
    padding: 7px;
    font-size: 9px;
    position: relative;
    top: 4px;
    width: 115px;
    margin-left: 6px;
}

form {
    padding: 10px;
    /* margin-right: 2px; */
}

h1 {
    margin-left: 21px;
}

h3 {
    margin-left: 21px;
    margin-bottom: 29px;
}

label.bday {margin-top: 40px;}

p.day {
    margin-top: 10px;
    margin-bottom: -12px;
    font-size: 17px;
}

button {
    padding: 6px;
    width: 186px;
    height: 41px;
    margin-top: 19px;
    border-radius: 5px;
    font-size: 21px;
}
a {
	text-decoration: none;
}
